body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  h1 {
    color: black;
  }

  .palindrome {
    color: rgb(96, 255, 96);
    font-weight: bold;
  }

  .not-palindrome {
    color: red;
    font-weight: bold;
  }